h1{
	text-align: center;
	font-size: 40px ;
	text-indent: 10%;
	border-color: white;
	border-style: solid;
	padding: 205px;
	color: white;
	background-image: url(img/piedra.jpg);
}
   p{
   	color:black;
   	font-size: 16px;
	font-family: Verdana;
   }
  #css-zen-garden{
  	background:  transparent url(img/cot.jpg) ;
  	background-repeat:  repeat;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-position: center;
  }
  .mainsupporting{
  	width: 770px;
  }
  .preamble{
  	width: 770px;
  }
  .participation{
  	width: 770px;
  }
  .benefits{
  	width: 770px;
   }
.summary {
	text-align: center;

}
.medit{
	height: 300px;
	width: 1400px;
    }
.explanation{
    	text-align: left;
	top:492px;
    right:10px;
    width:770px;
    }
body{
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	margin: 0; 
	padding: 0;
	}
.footer{
	text-align: center; 
}
a{
	color:green;
	font-family: Verdana;
}

.preamble{
	text-align: right;
}
h3{
	color: black;
	border-color: gray;
	border-style: solid;
}
.design-selection{
	position:relative;
    top:610px;
    right:5px;
    width:200px;
 }
 .select{
 	margin-top: 40px;
 }
 .design-selection li{
 	font-family: Verdana;
 	margin: -5px;
 }
.summary{
	text-align: left;
}
.preamble h3{
	text-align: left;
}
.preamble p{
	text-align: left;
}
.wrapper{
	position: relative;
    float: right;
   margin-top: -160%;
   margin-right: 17%;
   display: block;
   
}